{% extends "mainapp/base.html" %}
{% load static %}
{% load mytags %}

{% block contents %}

	<!-- Page Header -->
	<section id="et-pagehead" class="container-fluid text-center text-white img-overlay no-hover position-relative pt-5 pb-5">
		<div class="container position-relative pt-5 pb-5 mt-5 mb-5">
			<h1 class="box-heading mb-5 position-relative mb-0 text-white">Update Event</h1>
		</div>
		<div class="breadcrumb position-absolute text-center m-0 justify-content-center bg-transparent text-white">
			<a href="#" class="text-white d-inline-block p-2">Home</a>
			<a href="#" class="text-white d-inline-block p-2">Update event</a>
		</div>
	</section>

	<section id="et-add-event" class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-lg-9">
					<form id="addEventForm" autocomplete="off" method='POST' enctype="multipart/form-data" message='Updating Event ...'>
						{% csrf_token %}
						{{ form.media }}
						<div class="row">
							<div class="form-group getcontent col-sm-12">
								<label>Event title*</label>
								<input value="{% if form.title.value %}{{ form.title.value }}{% endif %}" type="text" required class="form-control bg-light" title="Please enter general information about this event. All fields are necessary" placeholder="Event title" name="title">
								{% for i in form.title.errors %}
								<small class="text-danger mt-1">{{ i }}</small>
								{% endfor %}
							</div>

							<div class="form-group getcontent col-sm-12 dy_select" select_text='Please select a region'>
								<label class="d-block">Region*</label>
								{{ form.category }}
								{% for i in form.category.errors %}
								<small class="text-danger mt-1">{{ i }}</small>
								{% endfor %}
							</div>

							<input type="hidden" name="lat" id="lat" value="{% if form.lat.value %}{{ form.lat.value }}{% endif %}">

							<input type="hidden" name="lon" id="lon" value="{% if form.lon.value %}{{ form.lon.value }}{% endif %}">

							<div class="form-group getcontent col-sm-12">
								<label>Event address*</label>
								<input id="searchInput" value="{% if form.location.value %}{{ form.location.value }}{% endif %}"  type="text" required class="form-control bg-light" placeholder="Enter full address" title="Please enter location and verify on the maps" name="location">
								{% for i in form.location.errors %}
								<small class="text-danger mt-1">{{ i }}</small>
								{% endfor %}

								<div id="map" class="w-100 add-event-map mb-3"></div>
							</div>
							
							<div class="form-group col-sm-6">
								<label>Start time*</label>

								<div class="d-flex">
									<div class='position-relative'>
										<input list_times_id='#start_times' id="start_date_picker" required size="16" type="text" readonly class="form-control bg-light form_datetime">
										<i class="icon-clock input-icon"></i>
									</div>

									<select id="start_times" class="form-control ml-2 list_times"></select>

								</div>

								<input id="start_date" class="default_time_data" type="hidden" name="start_date" value="{{form.start_date.value}}">

							</div>
							<div class="form-group col-sm-6">
								<label>End time*</label>

								<div class="d-flex">
									<div class='position-relative'>
										<input id="end_date_picker" required size="16" type="text" readonly class="form-control bg-light form_datetime">
										<i class="icon-clock input-icon"></i>
									</div>

									<select class="form-control ml-2 list_times"></select>

								</div>

								<input class="default_time_data" type="hidden" name="end_date" value="{{form.end_date.value}}">

							</div>
							
							<div class="form-group getcontent col-sm-12">
								<label>Website URL</label>
								<input value="{% if form.website.value %}{{ form.website.value }}{% endif %}"  type="text" class="form-control bg-light" placeholder="Please enter website URL" title="Please enter website URL" name="website">
								{% for i in form.website.errors %}
								<small class="text-danger mt-1">{{ i }}</small>
								{% endfor %}
							</div>
							<div class="form-group getcontent col-sm-12">
								<label>Event description*</label>
								{{ form.description }}
								{% for i in form.description.errors %}
								<small class="text-danger mt-1">{{ i }}</small>
								{% endfor %}
							</div>

							<div class="form-group getcontent col-sm-12">
								<label>Organizer*</label>
								<input value="{% if form.organizer.value %}{{ form.organizer.value }}{% endif %}"  type="text" class="form-control bg-light" placeholder="Enter Organizer name" title="Please enter Organizer name" name="organizer">
								{% for i in form.organizer.errors %}
								<small class="text-danger mt-1">{{ i }}</small>
								{% endfor %}
							</div>

							<div class="form-group getcontent col-sm-12">
								<label>Organizer Logo</label>
								<div image_view='#organizer_logo' class="image_bringer fake-file-upload rounded-pill transition-1 d-flex align-items-center justify-content-center p-3 text-center text-muted position-relative">
									<input type="file" name="organizer_logo" class="position-absolute pointer" multiple>
									<i class="fas fa-cloud-upload-alt h3 m-0"></i>&nbsp; Choose images
								</div>
								{% for i in form.organizer_logo.errors %}
								<small class="text-danger mt-1">{{ i }}</small>
								{% endfor %}

								<!-- Gallery -->
								<div class="gallery-mason content-box mt-5">
									<i class="icon-download prev pointer"></i>
									<i class="icon-download next pointer"></i>
									<div id="organizer_logo" class="mason-container create-gallery">
										{% if event.organizer_logo %}
											<div class="image-box no-hover position-relative"><img src="{{ event.organizer_logo.url }}" alt="img"></div>
										{% endif %}
									</div>
								</div>
							</div>

							<div class="form-group getcontent col-sm-12">
								<label>Phone</label>
								<input value="{% if form.phone.value %}{{ form.phone.value }}{% endif %}" type="text" class="form-control bg-light" placeholder="Add contact number" title="Please enter your contact number" name="phone">
								{% for i in form.phone.errors %}
								<small class="text-danger mt-1">{{ i }}</small>
								{% endfor %}
							</div>

							<div class="form-group getcontent col-sm-12">
								<label>Email address*</label>
								<input value="{% if form.email.value %}{{ form.email.value }}{% endif %}"  type="text" required class="form-control bg-light" placeholder="Your email address" title="Please enter your email address for the customers to reach you" name="email">
								{% for i in form.email.errors %}
								<small class="text-danger mt-1">{{ i }}</small>
								{% endfor %}
							</div>
							<div class="form-group col-sm-12">
								<label>Avaliable spots*</label>
								<input min=0 value="{% if form.seats.value %}{{ form.seats.value }}{% endif %}" type="number" required class="form-control bg-light" placeholder="Enter number of spots available" name="seats">
								{% for i in form.seats.errors %}
								<small class="text-danger mt-1">{{ i }}</small>
								{% endfor %}
							</div>
							<div class="form-group addsocial getcontent col-sm-12">
								<label>Social Media</label>
								<div class="row">
									<div class="col-sm-7 my-2">
										<div class="input-group form-group">
											<input value="{% if form.facebookvalue %}{{ form.facebook.value }}{% endif %}"  name='facebook' placeholder="Enter URL" class="form-control bg-light" type="text">
											<div class="input-group-append">
												<span class="input-group-text border-0">
													<i class="fab fa-facebook fb-icon"></i>
												</span>
											</div>
										</div>
										<div class="error-social">
											{% for i in form.facebook.errors %}
											<small class="text-danger mt-1">{{ i }}</small>
											{% endfor %}
										</div>
									</div>
									<div class="col-sm-7 my-2">
										<div class="input-group form-group">
											<input value="{% if form.twitter.value %}{{ form.twitter.value }}{% endif %}"  name='twitter' placeholder="Enter URL" class="form-control bg-light" type="text">
											<div class="input-group-append">
												<span class="input-group-text border-0">
													<i class="fab fa-twitter tw-icon"></i>
												</span>
											</div>
										</div>
										<div class="error-social">
											{% for i in form.twitter.errors %}
											<small class="text-danger mt-1">{{ i }}</small>
											{% endfor %}
										</div>
									</div>
									<div class="col-sm-7 my-2">
										<div class="input-group form-group">
											<input value="{% if form.instagram.value %}{{ form.instagram.value }}{% endif %}"  name='instagram' placeholder="Enter URL" class="form-control bg-light" type="text">
											<div class="input-group-append">
												<span class="input-group-text border-0">
													<i class="fab fa-instagram ig-icon"></i>
												</span>
											</div>
										</div>
										<div class="error-social">
											{% for i in form.instagram.errors %}
											<small class="text-danger mt-1">{{ i }}</small>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
							<div class="cleardiv"></div>
							<div class="form-group amenities m-0 getcontent col-sm-12" data-title="Event Information" data-content="Please enter general information
							about this event. All fields are necessary">
								<label>Amenities</label>
								<ul class="p-0 m-0 nostyle">
									{% for i in amenities  %}
										<li class="mb-4 mt-2"><i class="fas fa-{{i.icon}} text-primary"></i>&nbsp;&nbsp; {{ i.name }}
											<div class="float-right">
												<div class="text-center check-types">
													<label for="cbk{{ i.id }}">
														<input type="checkbox" id="cbk{{ i.id }}" name='amenities-{{ i.id }}' {% is_checked event.id i.id %}>
														<span class="cbx rounded-pill float-none d-inline-block align-middle">
															<svg width="12px" height="11px" viewBox="0 0 12 11">
																<polyline points="1 6.29411765 4.5 10 11 1"></polyline>
															</svg>
														</span>
													</label>
												</div>
											</div>
										</li>
									{% endfor %}
								</ul>
							</div>
						<div class="cleardiv"></div>
						<div class="form-group getcontent col-sm-12">
							<label>Featured image *</label>
							<div image_view='#featured_imagex' class="image_bringer fake-file-upload rounded-pill transition-1 d-flex align-items-center justify-content-center p-3 text-center text-muted position-relative">
								<input type="file" name="featured_image" class="position-absolute pointer" multiple>
								<i class="fas fa-cloud-upload-alt h3 m-0"></i>&nbsp; Choose images
							</div>
							{% for i in form.featured_image.errors %}
							<small class="text-danger mt-1">{{ i }}</small>
							{% endfor %}

							<!-- Gallery -->
							<div class="gallery-mason content-box mt-5">
								<i class="icon-download prev pointer"></i>
								<i class="icon-download next pointer"></i>
								<div id="featured_imagex" class="mason-container create-gallery">

									{% if event.featured_image.url %}
									<div class="image-box no-hover position-relative"><img src="{{ event.featured_image.url }}" alt="img"></div>
									{% endif %}

								</div>
							</div>
						</div>
						<div class="cleardiv"></div>
						<div class="form-group add-gallery col-sm-12">
							<label>Image Gallery</label>
							<div image_view='#multiple_images' id="gallery_img_upload" class="image_bringer fake-file-upload rounded-pill transition-1 d-flex align-items-center justify-content-center p-3 text-center text-muted position-relative">
								<input type="file" name="gallery" class="position-absolute pointer" multiple>
								<i class="fas fa-cloud-upload-alt h3 m-0"></i>&nbsp; Choose images to create gallery
							</div>

							<!-- Gallery -->
							<div class="gallery-mason content-box mt-5">
								<i class="icon-download prev pointer"></i>
								<i class="icon-download next pointer"></i>
								<div id="multiple_images" class="mason-container create-gallery">

									{% for i in event.gallery_set.all %}
									<div class="image-box no-hover position-relative"><img src="{{ i.image.url }}" alt="img"></div>
									{% endfor %}
								</div>
							</div>
						</div>
						<div class="cleardiv"></div>
						<div class="form-group col-sm-12">
							<div class="d-flex align-items-center justify-content-between">
								<label>Entry fee</label>
							</div>
							<div class="row" id="ticket-board">
								<div class="col-md-6">
									<div class="ticket-table p-3 rounded">
										<ul class="nostyle p-0">
											<li class="input-coming">
												<span>Price:</span>
												<input min=0 type="number" name="ticket_price" placeholder="Enter a price" class="border-bottom ticket-title form-control" value="{% if form.ticket_price.value %}{{ form.ticket_price.value }}{% endif %}">
											</li>
											<li class="input-coming dy_select" select_text='Please select a currency'>
												<span>Currency:</span>
												{{ form.ticket_currency }}
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="cleardiv"></div>
						<div class="form-group col-sm-12">
							<div class="d-flex align-items-center justify-content-between">
								<label>Please select which fields will appear at event registration form (optional)</label>
							</div>
							<div class="row" id="ticket-board">
								<div class="col-md-6">
									<table class="table">
										<thead>
											<th>Field name</th>
											<th>Included</th>
											<th>Required</th>
										</thead>
										<tbody>
											{% for obj in inform_tools %}
											<tr>
												<td>{{ obj.name }}</td>
												<td>
													<div class="text-center check-types">
														<label for="{{ obj.form_name }}">
															<input class="included_tool_box" req_id='{{ obj.form_name }}{{ r_suffix  }}' type="checkbox" id="{{ obj.form_name }}" name='{{ obj.form_name }}' {% check_included_tool obj.included_required %}>

															<span class="cbx rounded-pill float-none d-inline-block align-middle">
																<svg width="12px" height="11px" viewBox="0 0 12 11">
																	<polyline points="1 6.29411765 4.5 10 11 1"></polyline>
																</svg>
															</span>
														</label>
													</div>
												</td>
												<td>
													<div class="text-center check-types">
														<label for="{{ obj.form_name }}{{ r_suffix  }}">
															<input disabled type="checkbox" id="{{ obj.form_name }}{{ r_suffix  }}" name='{{ obj.form_name }}{{ r_suffix  }}' {% check_required_tool obj.included_required %}>
															<span class="cbx rounded-pill float-none d-inline-block align-middle">
																<svg width="12px" height="11px" viewBox="0 0 12 11">
																	<polyline points="1 6.29411765 4.5 10 11 1"></polyline>
																</svg>
															</span>
														</label>
													</div>
												</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>


						<div class="cleardiv"></div>
						<div class="form-group col-sm-12 check-types">
							<label for="agreement">
								<input checked disabled type="checkbox" id="agreement" name='agreement'>
								<span class="cbx rounded-pill float-none d-inline-block align-middle">
									<svg width="12px" height="11px" viewBox="0 0 12 11">
										<polyline points="1 6.29411765 4.5 10 11 1"></polyline>
									</svg>
								</span>
								<span class="float-none text-black-50">I agree to the <a href="#" class="text-primary">terms and conditions</a> and <a href="#" class="text-primary">usage policy</a> before i submit my business</span>
							</label>
						</div>
						<div class="col-sm-12">
							<div class="position-relative border-0 mt-md-0 mt-3 btn btn-primary submit-btn">
								<i class="icon-tick btn-icon input-icon"></i> Submit Event
								<input type="submit" class="h-100 w-100 position-absolute" value="Submit Review">
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-lg-3">
				<div class="info-box shadow p-4 position-relative text-center rounded">
					<h4>Info Title</h4>
					<p class="description m-0">Sample description goes here...</p>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock contents %}