{% extends "mainapp/base.html" %}
{% load static %}

{% block contents %}
<section id="et-related-events" class="container-fluid position-relative">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7 col-sm-8 col-10">
            <div class="card">
                <div class="card-dialog card-md" role="document">
                    <div class="card-content">
                        <div class="card-header p-4">
                            <h3 class="card-title w-100 text-center mb-0">Create an account</h3>
                        </div>
                        <div class="card-body px-2 py-4">
                            <form autocomplete="off" method="POST">
                                {% csrf_token %}
                                {% for i in form.non_field_errors %}
                                    <small class="text-danger d-block mt-2 mb-3 text-right">{{ i }}</small>
                                {% endfor %}
                                <div class="form-group">
                                    <input type="password" class="form-control bg-light" placeholder="Your new password" name="password">
                                    {% for i in form.password.errors %}
                                        <small class="text-danger d-block mt-2 mb-3 text-right">{{ i }}</small>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control bg-light" placeholder="Confirm password" name="confirm_password">
                                    {% for i in form.confirm_password.errors %}
                                        <small class="text-danger d-block mt-2 mb-3 text-right">{{ i }}</small>
                                    {% endfor %}
                                </div>
                                <div class="text-center">
                                    <div class="position-relative border-0 mt-md-3 mt-5 btn btn-primary submit-btn">
                                        <i class="icon-login btn-icon input-icon"></i> Submit
                                        <input name="submit" type="submit" class="h-100 w-100 position-absolute" value="reset">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock contents %}